<form
  class="form w-100"
  novalidate="novalidate"
  [formGroup]="resetPasswordForm"
  (ngSubmit)="confirmNewPassword()"
>
  <!--begin::Heading-->
  <div class="text-center mb-10">
    <!--begin::Title-->
    <h1 class="text-dark fw-bolder mb-3">
       Cambio de contraseña
    </h1>
    <!--end::Title-->

    <!--begin::Link-->
    <div class="text-gray-500 fw-semibold fs-6">
        Ingrese su nueva contraseña.
    </div>
    <!--end::Link-->
</div>
<!--begin::Heading-->


  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-gray-900 fs-6">Contraseña</label>
    <input
      class="form-control bg-transparent"
      type="password"
      formControlName="password"
      placeholder="Contraseña"
      name="password"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': resetPasswordForm.controls['password'].invalid,
        'is-valid': resetPasswordForm.controls['password'].valid
      }"
    />

    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'La contraseña es requerida',
        control: resetPasswordForm.controls['password']
      }"
    ></ng-container>

  </div>
  <!--end::Form group-->
  <!--begin::Form group-->
  <div class="d-flex flex-wrap justify-content-center pb-lg-0">
    <button
      type="submit"
      class="btn btn-primary me-4"
      [disabled]="this.errorToken || this.resetPasswordForm.invalid"
    >
      <span class="indicator-label" >Enviar</span>
      <ng-container >
        <span class="indicator-progress">
          Por favor espere...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </ng-container>
    </button>
    <a
      routerLink="/auth/login"
      id="kt_login_password_reset_form_cancel_button"
      class="btn btn-light"
    >
      Cancelar
    </a>
  </div>
  <!--end::Form group-->
</form>
<!--end::Form-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">{{ message }}</span>
      </div>
    </div>
  </ng-container>
</ng-template>
