<app-modal-with-option-buttons
  #entityComponent
  [title]="title"
  [optionButtons]="OptionButtons"
  (onOptionButton)="optionButtonClicked($event)"
  (onClose)="close()"
>
  <div>
    <div class="row row-space-10">
      <section class="col-md-6 col-xs-12">
        <div class="form-group">
          <label for="code">Código<i class="text-danger">*</i></label>
          <dx-text-box #code [(value)]="Model.code"> </dx-text-box>
          <app-validator-message
            [error]="errors"
            field="code"
          ></app-validator-message>
        </div>
      </section>

      <section class="col-md-6 col-xs-12">
        <div class="form-group">
          <label for="name">Nombre<i class="text-danger">*</i></label>
          <dx-text-box #name [(value)]="Model.name"> </dx-text-box>
          <app-validator-message
            [error]="errors"
            field="name"
          ></app-validator-message>
        </div>
      </section>

      <section class="col-md-6 col-xs-12">
        <div class="form-group">
          <label for="maxLength"
            >Tamaño Maximo<i class="text-danger">*</i></label
          >
          <dx-number-box
            id="maxLength"
            name="maxLength"
            [(value)]="Model.maxLength"
            placeholder=""
            type="number"
          >
          </dx-number-box>
          <app-validator-message
            [error]="errors"
            field="maxLength"
          ></app-validator-message>
        </div>
      </section>
    </div>
  </div>
  <div>
    <br class="" />
    <hr class="" />
    <h2 class="">Extensiones</h2>
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <div class="form-group">
          <dx-text-box #extensionType [(value)]="ExtensionModel.extensionType">
          </dx-text-box>
        </div>
      </div>
      <div class="col-xs-12 col-md-9">
        <button class="btn btn-primary" type="button" (click)="saveExtension()">
          <i *ngIf="!editingExtension" class="fa fa-plus"></i>
          <i *ngIf="editingExtension" class="fa fa-save"></i>
          {{ editingExtension ? "Guardar Cambios" : "Agregar Extension" }}
        </button>

        <button
          *ngIf="
            ExtensionModel.extensionType !== null &&
            ExtensionModel.extensionType !== undefined &&
            ExtensionModel.extensionType !== ''
          "
          class="btn btn-danger"
          type="button"
          (click)="cancelChangesExtension()"
        >
          <i class="fa fa-ban"></i>
        </button>
      </div>
    </div>
    <div class="col-xs-12 col-md-12"></div>

    <br class="" />
    <div class="row row-space-10">
      <div class="col-xs-12">
        <dx-data-grid
          id="extensiones"
          [dataSource]="extensionsTypesToShow"
          [showRowLines]="true"
          [rowAlternationEnabled]="true"
        >
          <dxo-paging [enabled]="false"></dxo-paging>
          <dxi-column
            dataField="id"
            caption=""
            width="115"
            cellTemplate="actionTemplate"
            [allowExporting]="false"
          >
          </dxi-column>
          <div *dxTemplate="let ext of 'actionTemplate'">
            <button
              *ngIf="ext.data.isActive"
              class="btn btn-warning pull-left btn-sm"
              title="Edit"
              type="button"
              (click)="editExtension(ext.data)"
            >
              <i class="fas fa-edit"> </i>
            </button>
            <button
              *ngIf="ext.data.isActive"
              class="btn btn-danger btn-sm"
              title="Delete"
              type="button"
              (click)="deleteExtension(ext.data)"
            >
              <i class="fas fa-trash-alt"> </i>
            </button>
          </div>
          <dxo-editing
            mode="cell"
            [allowUpdating]="false"
            [allowAdding]="false"
            [allowDeleting]="false"
          >
          </dxo-editing>
          <dxi-column dataField="extensionType" caption="Tipo Extension">
          </dxi-column>
          <!-- <dxi-column dataField="email" caption="Email"> </dxi-column>
            <dxi-column dataField="default" caption="Default"> </dxi-column> -->
        </dx-data-grid>
      </div>
    </div>
  </div>
</app-modal-with-option-buttons>
