.menu-items {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: wrap;
  
    overflow-y: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    row-gap: 10px;
  }
  
  .button-menu {
    width: auto;
  }
  
  .content-create {
  }
  