<div class="row" *ngIf="
    !accepterToRedeem &&
    !proceedToAssignAccount &&
    !verifyDataToRedeem &&
    !showAlert
  ">
  <section class="col-md-12 col-xs-12">
    <ng-template ngFor let-item [ngForOf]="DxAccountTypes">
      <button class="btn btn-sm btn-success" style="margin-right: 5px" (click)="getAccountTypeById(item.id)">
        {{ item.code }}
      </button>
    </ng-template>
  </section>
  <br class="" />
  <br class="" />
</div>

<ng-container *ngIf="
    !accepterToRedeem &&
    !proceedToAssignAccount &&
    !verifyDataToRedeem &&
    !showAlert
  ">
  <app-master-detail-table [columnsSource]="columns" [columnsDetailSource]="columnsDetail" [dataSource]="DataSource"
    [keySource]="'projectPlants'" [allowEditingDataSource]="false" [allowEditingDetailDataSource]="true"
    (changedDataSource)="onChangedDataSource($event)" (changedDetailDataSource)="onChangedDetailDataSource($event)"
    (changedSelectionDetailDataSource)="
      onChangedSelectionDetailDataSource($event)
    " [allowSelectDataSource]="false" [allowSelectDetailDataSource]="true"></app-master-detail-table>
  <br class="" />
  <h3 class="">
    Total de certificados a cancelar: {{ TotalCertificatesToRedeem }}
  </h3>
  <app-validator-message [error]="proccessErrors" field="totalRedeem"></app-validator-message>
  <app-validator-message [error]="proccessErrors" field="notAvailable"></app-validator-message>
  <app-validator-message [error]="proccessErrors" field="projectSelected"></app-validator-message>
  <br class="" />
  <div class="pull-left">
    <button type="button" class="btn btn-success btn-sm" (click)="continueProcess('acceptedToRedeem')">
      Aceptar
    </button>
    <br class="" />
  </div>
</ng-container>
<ng-container *ngIf="
    accepterToRedeem &&
    !proceedToAssignAccount &&
    !verifyDataToRedeem &&
    !showAlert
  ">
  <p class="">
    Total de certificados disponibles:
    <strong>{{ TotalCertificatesAvailable }}</strong>
  </p>
  <p class="">
    Total de certificados a cancelar:
    <strong>{{ TotalCertificatesToRedeem }}</strong>
  </p>
  <p class="">
    Certificados restantes:
    <strong>{{
      TotalCertificatesAvailable - TotalCertificatesToRedeem
      }}</strong>
  </p>
  <br class="" />
  <div class="pull-left">
    <button type="button" class="btn btn-success btn-sm" (click)="continueProcess('assignAccountToRedeem')">
      ¿Continuar?</button>{{ " " }}
    <button type="button" class="btn btn-danger btn-sm" (click)="cancelTransfer()">
      Cancelar
    </button>
    <br class="" />
  </div>
</ng-container>
<ng-container *ngIf="
    !accepterToRedeem &&
    proceedToAssignAccount &&
    !verifyDataToRedeem &&
    !showAlert
  ">
  <h4>Ingrese motivo de cancelacion</h4>
  <br class="" />

  <section class="col-md-6 col-xs-12">
    <div class="form-group">
      <label for="textLog">Motivo de Cancelacion<i class="text-danger">*</i></label>
      <dx-text-box #textLog [(value)]="Model.textLog"></dx-text-box>
    </div>
  </section>

  <br class="" />
  <div class="pull-left">
    <button type="button" class="btn btn-success btn-sm" (click)="continueProcess('verifyData')">
      ¿Continuar?</button>{{ " " }}
    <button type="button" class="btn btn-danger btn-sm" (click)="cancelTransfer()">
      Cancelar
    </button>
    <br class="" />
  </div>
</ng-container>
<!-- summary -->
<ng-container *ngIf="
    !accepterToRedeem &&
    !proceedToAssignAccount &&
    verifyDataToRedeem &&
    !showAlert
  ">
  <app-resume-verification-plants [projectPlants]="projectPlants" [accountType]="accountType.code"
    [certificatesToProcess]="TotalCertificatesToRedeem" [account]="Account" [transaction]="Model"
    [transactionType]="'cancelar'">
  </app-resume-verification-plants>
  <br class="" />
  <div class="pull-left">
    <button type="button" class="btn btn-success btn-sm" (click)="continueProcess('save')">
      Procesar</button>{{ " " }}
    <button type="button" class="btn btn-danger btn-sm" (click)="cancelTransfer()">
      Cancelar
    </button>
    <br class="" />
  </div>
</ng-container>
<ng-container *ngIf="
    !accepterToRedeem &&
    !proceedToAssignAccount &&
    !verifyDataToRedeem &&
    showAlert
  ">
  <app-transaction-completed-uncompleted [title]="'Cancelacion'" [success]="transactionSuccess">
  </app-transaction-completed-uncompleted>
  <br class="" />
  <div class="pull-left">
    <button type="button" class="btn btn-success btn-sm" (click)="finishProcess()">
      Finalizar proceso</button>{{ " " }}
    <br class="" />
  </div>
</ng-container>