<app-modal-with-option-buttons #entityComponent [title]="title" [optionButtons]="OptionButtons"
  (onOptionButton)="optionButtonClicked($event)" (onClose)="close()">
  <div>
    <div class="row row-space-10">
      <section class="col-md-12 col-xs-12">
        <div class="form-group">
          <label for="text">Razones de rechazo<i class="text-danger">*</i></label>
          <dx-text-area #text [(value)]="Model.text">
          </dx-text-area>
          <app-validator-message [error]="errors" field="text"></app-validator-message>
        </div>
      </section>
    </div>
  </div>
</app-modal-with-option-buttons>