<app-modal-with-option-buttons #entityComponent [title]="title" [optionButtons]="OptionButtons"
  (onOptionButton)="optionButtonClicked($event)" (onClose)="close()">
  <div class="overflow-auto pb-5">
    <ng-template ngFor let-doc [ngForOf]="documents">

      <div class="d-flex align-items-center border border-dashed border-gray-300 rounded p-5">

        <div class="d-flex flex-aligns-center pe-10 pe-lg-20">
          <img alt="" class="w-30px me-3" style="color: green;" src="./assets/media/svg/files/{{doc.icon}}.svg" />
          <div class="ms-1 fw-bold">
            <a class="fs-6 text-hover-primary fw-bolder cursor-pointer {{doc.textClass}}" (click)="download(doc)">
              {{ doc.fileName }}
              <i class="fas fa-download {{doc.textClass}}"></i>
            </a>
            <div class="text-primary-400">
              Cargado: {{ doc.lastUpdated | date: DisplayFormatDateTime }}
            </div>
          </div>
        </div>
        <br />
        <br />

      </div>
      <br />

    </ng-template>

  </div>
</app-modal-with-option-buttons>