<div class="table-responsive">
  <table class="table align-middle gs-0 gy-5">
    <thead>
      <tr>
        <td *ngIf="profileFrom">
          <h4>Tipo de Cuenta</h4>
        </td>
        <td *ngIf="profileFrom">
          <h4># Cuenta</h4>
        </td>
        <td *ngIf="profileFrom">
          <h4>Saldo Contado</h4>
        </td>
        <td *ngIf="profileFrom">
          <h4>Saldo Disponible</h4>
        </td>
        <td *ngIf="!profileFrom">
          <h4>Cuenta</h4>
        </td>
        <td *ngIf="!profileFrom">
          <h4>Saldo Disponible</h4>
        </td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of data">
        <td *ngIf="profileFrom"><span
            class="text-muted fw-bold text-muted d-block fs-7">{{account.accountTypeText}}</span></td>
        <td>
          <div class="d-flex justify-content-start flex-column"><a href="#"
              class="text-success fw-bolder text-hover-primary fs-6" *ngIf="!profileFrom"> {{account.accountTypeText }}
            </a><span class="text-muted fw-bold text-muted d-block fs-7"> # CUENTA {{account.accountNumber}} </span>
          </div>
        </td>
        <td *ngIf="profileFrom"> <span class="badge badge-light-success"> {{account.totalCertificates}}</span></td>
        <td *ngIf="profileFrom"><span class="badge badge-light-success"> {{account.availableCertificates }}</span></td>
        <td *ngIf="!profileFrom">{{account.availableCertificates}}</td>
        <td>
          <div class="d-flex justify-content-end flex-shrink-0"><button (click)="viewTransaction(account);"
              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary"><span class="svg-icon svg-icon-2"><svg
                  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)"
                    fill="black"></rect>
                  <path
                    d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                    fill="black"></path>
                </svg></span>
            </button></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-account-transaction-history #AccountTransaction></app-account-transaction-history>